<md-bottom-sheet class="md-list md-has-header">
    <md-subheader ng-cloak>Settings</md-subheader>
    <md-content ng-controller="daySettingsCtrl" layout-padding ng-cloak>



        <div layout-gt-xs="row">

            <md-input-container>
                <label>Enter date</label>
                <md-datepicker ng-model="submissionDate"></md-datepicker>
            </md-input-container>
        </div>

        <md-button ng-click="save()">Save</md-button>
    </md-content>
</md-bottom-sheet>