<div flex-xs flex-gt-xs="100" layout="column">
    <md-card ng-controller="dayGraphCtrl" id="dayGraphCtrl">
        <md-card-header>
            <md-card-header-text>
                <span class="md-title">RECENT ELECTRICITY CONSUMED (WATT)</span>
                <!--<span class="md-subhead">subhead</span>-->
            </md-card-header-text>

        </md-card-header>
        <md-card-content>
            <canvas height="200" id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick" >
            </canvas>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
            <md-menu>
                <md-button  class="md-icon-button" aria-label="Settings" ng-click="$mdOpenMenu()">
                    <md-icon md-font-set="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-menu>
                            <md-button aria-label="Chart type" ng-click="$mdOpenMenu()">
                                <md-icon md-font-set="material-icons">show_chart</md-icon>
                                Chart type
                            </md-button>
                            <md-menu-content width="2">
                                <md-menu-item>
                                    <md-button>
                                        <!--<md-icon md-font-set="material-icons">show_chart</md-icon>-->
                                        Line Chart
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button>
                                        <!--<md-icon md-font-set="material-icons">show_chart</md-icon>-->
                                        Bar Chart
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-item>
                    <!--<md-menu-item>-->
                    <!--<md-menu>-->
                    <!--<md-button class="md-fab md-primary md-mini" ng-click="$mdOpenMenu()">-->
                    <!--<md-icon md-font-set="material-icons">attach_money</md-icon>-->
                    <!--Check voicemail-->
                    <!--</md-button>-->
                    <!--<md-menu-content width="2">-->
                    <!--<md-menu-item>-->
                    <!--<md-button>-->
                    <!--<md-icon md-font-set="material-icons">show_chart</md-icon>-->
                    <!--Chart type-->
                    <!--</md-button>-->
                    <!--</md-menu-item>-->
                    <!--</md-menu-content>-->
                    <!--</md-menu>-->
                    <!--</md-menu-item>-->
                </md-menu-content>
            </md-menu>



        </md-card-actions>
    </md-card>
</div>