<html lang="en" ng-app="SmartStatsApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-messages.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
        <script src="lib/Chart.min.js"></script>
        <script src="lib/angular-chart.min.js"></script>
        <script src="lib/angular-ui-router.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/day-ctrl.js"></script>
        <script src="js/controllers/app-ctrl.js"></script>
    </head>
    <body ng-cloak ng-controller="appCtrl">
        <md-toolbar class="md-toolbar-tools">
            <md-button aria-label="Navigation" ng-click="toggleMenu('navigation')">
                <md-tooltip>Open Navigation</md-tooltip>
                <md-icon md-font-set="material-icons">menu</md-icon>
            </md-button>
            <h2>
                <span>SmartStats</span>
            </h2>
        </md-toolbar>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="navigation">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Navigation</span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Close Navigation" ng-click="toggleMenu('navigation')">
                        <md-tooltip>Close Navigation</md-tooltip>
                        <md-icon md-font-set="material-icons">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content >
                <md-list>
                    <!--<md-subheader class="md-no-sticky">Favorites</md-subheader>-->
                    <md-list-item ui-sref="home">
                        <md-icon md-font-set="material-icons">desktop_windows</md-icon>
                        <p>Dashboard</p>
                        <md-icon class="md-secondary"></md-icon>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="config">
                        <md-icon md-font-set="material-icons">settings</md-icon>
                        <p>Settings</p>
                        <div class="md-secondary"></div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-content id="content" >
            <div ui-view></div>
        </md-content>
    </body>
</html>